.empty-state-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon-container {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:focus,
.accordion-button:focus {
  box-shadow: none;
}

/* contacts */

.contacts {
  padding-top: 130px;
}

.contacts__content {
  position: relative;
  gap: 30px;
}

button[data-delete]:hover {
  background-color: var(--bs-danger);
  border-color: var(--bs-danger);
}

button[data-edit]:hover {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.accordion-button:not(.collapsed) {
  background-color: #fff !important;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.contacts__accordion-item {
  border-radius: 6px !important;
  overflow: hidden;
}

.contacts__group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 15px 0;
}

.contacts__group-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 100%;
  opacity: 0.2;
  background-color: var(--bs-secondary);
}

.contacts__group-item:last-child::before {
  display: none;
}

.contacts__group-item-right {
  display: flex;
  gap: 24px;
  align-items: center;
}

.contacts__group-item-controls {
  display: flex;
  gap: 8px;
}

/* offcanvas */

/* select:invalid {
  color: var(--bs-primary);
} */

select:invalid {
  color: var(--bs-secondary);
}

option:not(:disabled) {
  color: #000000;
}
